
/* Raleway google font import */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700&display=swap');


*{
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
}

/* snaps instead of scroll*/

html{
	scroll-behavior: smooth;

}
/*added a11y media query for scrolling preference*/
@media (prefers-reduced-motion: reduce) {
	html {
	  scroll-behavior: auto;
	}
  }
body{
	font-family: 'Raleway', sans-serif;
	margin:0;
	
	
}






/*NAV*/

.topnav {
	overflow: hidden;
	background-color: #000;
	display: flex;
	position: fixed(static);
	
	
	
	/*position: fixed;*/
	
  }
  
  .topnav a {
	align-items: center;
	display: inline;
	color: #f2f2f2;
	text-align: center;
	padding: 12px 5px;
	text-decoration: none;
	font-size: 17px;
	font-weight: 600;
	flex-direction: space-between;
	margin-left: auto;
    margin-right: auto;
	 
	
  }
  
  .topnav a:hover {
	background-color: #db9214;
	color: black;
  }
  
  .topnav a.active {
	background-color: orange;
	color: white;
  }
  
  .topnav .icon {
	display: none;
  }
  
  
	.topnav a {
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 12px 10px;
		text-decoration: none;
		font-size: 17px;
		font-weight: 600;
	  }
  
 


.container{
	
	margin: auto;
}

.home{
	
	min-height: 40vh;
	background-image: url("../images/programming-code-abstract-technology-background-software-1024x756.jpg");
	background-size: cover;
	background-position: center;
	float: left;
	width: 100%;
	padding:0px 15px;
	position: relative;
	
	
	
}

.home::before{
	content: '';
	position: absolute;
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: #000000;
	opacity:0.7;
}


.home .home-text{
	position: absolute;
	left: 55%;
    top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	
}




.home .home-text h1{
	
	font-size:25px;
	color:white;
	margin:10px 0px;
	font-weight:400;
	animation: slideLeft 1.5s ease;
	
	}
.home .home-text h3{
	font-size: 30px;
	color:orange;
	margin:10px 0px 0px;
	font-weight:700;
	animation: slideRight 1.5s ease;
}

@keyframes slideLeft{
	0%{transform: translateX(-100%);opacity:0}
	100%{transform: translateX(0);opacity:1}
}
@keyframes slideRight{
	0%{transform: translateX(100%);opacity:0}
	100%{transform: translateX(0);opacity:1}
}


/*about me */

.about{
	float: left;
	width: 100%;
	padding:30px 0px; 
	background-color:#353535;
}

h2.title{
  font-size:20px;
  font-weight: 600;
  margin:0;
  padding-bottom:25px;
  /*padding-bottom:70px;*/
  text-align: center;
  text-transform: uppercase;
  color: white;
  position: relative;
  letter-spacing:.5px;
}
h2.title::before{
	content: '';
	position: absolute;
	width:80px;
	height: 2px;
    left: 50%;
    margin-left:-40px;
    top:40px;
    background-color: black;
}

.about .about-content{
	width: 100%;
	/*float: left;*/
}

.about .about-content .img{
	/*float: left;
	width: 35%;*/
	padding:15px;
	
	
}
.about .about-content .img img{
	width: 75%;
	border:10px solid #3c3c3c;
	margin: 0 auto;
	display: block;
}
.about .about-content .description{
	/*float: left;
	width: 65%;*/
	padding:15px;
}
.about .about-content .description h4{
	font-size:20px;
	color: white;
	margin:0;
	padding-bottom:10px;
	font-weight: 400;
}
.about .about-content .description h5{
	font-size:25px;
	color: white;
	margin:0;
	padding-bottom:10px;
	font-weight: 600;
}
.about .about-content .description p{
	color: white;
	font-size: 18px;
	line-height: 25px;
	letter-spacing:.5px;
	text-align: left;
	font-weight: 500;
}
.about .about-content .description p button{
	margin-right:10px;
	margin-top:20px;
}

.icon-up{
	font-size:24px;
	color: white;


}



/*portfolio */


.portfolio{
	float: left;
	width: 100%;
	padding:40px 0px; 
	background-color:#292929;
}

.portfolio .portfolio-content{
	float: left;
	width: 100%;
}

.portfolio .portfolio-content .card{
	float:left;
	width: 100%;
	padding:15px;
}

.portfolio .portfolio-content .card .box{
	background-color:black;
	padding:15px;
	position: relative;
}
.portfolio .portfolio-content .card .box::before{
	content:'';
	position: absolute;
	left:0;
	top:0px;
	height: 3px;
	width:0;
	background-color: orange;
	z-index:1;
	transition: width .5s ease;
}
.portfolio .portfolio-content .card .box:hover::before{
	width: 100%;
}
.portfolio .portfolio-content .card .box h3{
	margin:0;
	padding:15px 0 5px;
	color:#ffffff;
	font-size:24px;
	font-weight: 600;
	letter-spacing:.5px;
}
.portfolio .portfolio-content .card .box h4{
	margin:0;
	padding:5px 0px 25px;
	color:orange;
	font-size:18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing:.5px;
}
.portfolio .portfolio-content .card .box img{
	width: 100%;
	display:block;
}
.portfolio .portfolio-content .card .box p{
color: white;
font-size: 20px;
}

.link-orange{
	color: orange;
}

/*contact form*/

label, input, textarea{
	display: block;
}
.contact{
	float: left;
	width: 100%;
	padding:40px 15px; 
	background-color:#353535;
}

.contact .contact-content{
	margin:auto;
	max-width:650px;
}

.contact .contact-content input,
.contact .contact-content textarea{
	height:50px;
    border:none;
    border-left:2px solid transparent;
	padding:10px 15px;
	color: white;
	margin-bottom:30px;
	font-size:16px;
	letter-spacing:1px;
	font-weight: 400;
	display: block;
	width: 100%;
	background-color: black;
	transition: border .5s ease;
}
.contact .contact-content input:focus,
.contact .contact-content textarea:focus{
	
	background-color: orange;
	
}
.contact .contact-content input textarea{

}
.contact .contact-content button{
	display: block;
	margin:auto;
	background-color: orange;
	border: 2px black solid;
	color:black;
	font-weight: 600;
	width: 100%;
	height:50px;
}
placeholder{
	color:white;
}


/*footer / social */

footer{
	float: left;
	width: 100%;
	background-color:#292929;
	padding:50px 0px;
}

footer .footer-content{
	float: left;
	width: 100%;
	display: flex;

}
 .link-white{
	color:white;
}
footer .footer-content .box{
	width:33.3%;
	float: left;
	padding:15px;
	text-align: center;
}
footer .footer-content .box .icon span{
	color: orange;
	font-size:30px;
}
footer .footer-content .box h4{
	font-size:16px;
	color:white;
	margin:0;
	font-weight: 600;
	text-transform: uppercase;
	padding:20px 0 0px;
}
footer .footer-content .box p{
   color: white;
	font-size: 16px;
	line-height: 25px;
	letter-spacing:.5px;
	
	font-weight: 400;
	padding:10px 0;
	margin:0px;	
}

/*mobiles*/ 


.portfolio .portfolio-content .card{
	width:100%;
}
footer .footer-content .box{
	width: 100%;
}


/* tutor code help / transform /transition animate*/
.trigger-main{
	position: absolute;
	top:15px;
	right:15px;
	display: none;
}
.trigger-main a{
	display: inline-block;
	position: relative;
	z-index: 210;
}
.trigger-main a span{
	display: block;
	height: 2px;
	width: 30px;
	background-color: white;
	margin-bottom:8px;
	transition: transform .5s ease;
	
}
.trigger-main a span:nth-child(1){
   transform-origin: left top;
}
.trigger-main a span:nth-child(2){
transform-origin: left bottom;
}
.trigger-main a.active span:nth-child(1){
    
	transform: rotate(45deg) translateY(-7px);
}
.trigger-main a.active span:nth-child(2){
	
	transform: rotate(-45deg) translateY(7px);
}


